<div class = "container">
  <dic class = "row">
    <h1 class = "px-3 mx-auto _web-inspector-hide-shortcut_">
      Welcom to <i class = "fas fa-book"></i><strong>Bookers</strong>!
    </h1>
  </dic>
</div>